<h2>New Song</h2>

<form action="/songs/new" method="POST">

  <p><label for="song[name]">Song Name: </label>
    <input type="text" id="Name" name="song[name]" />
  </p>
  <p><label for="artist[name]">Artist Name: </label>
    <input type="text" id="Artist Name" name="artist[name]" />
  </p>

  <!-- genre checkboxes -->
  <p>Genres:
    <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genres][][name]" id="<%= genre.name %>">
    <%= genre.name %>
    </input>
    <% end %>
  </p>

  <p><input type="submit" value="Create"></p>

</form>